@import '~bootstrap/scss/bootstrap.scss';

.btn-primary {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: rgb(30, 64, 255);
  border: none;
  border-radius: 5px;
}

.img-primary {
  height: 500px;
  object-fit: contain;
}